html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
    }
    .clearfix:before,
    .clearfix:after {
                        content: "";
                        display: block;
                        clear: both;
                        visibility: hidden;
                        line-height: 0;
                        height: 0;
                        font-size:0;
}

.clearfix { *zoom:1;}


a{
  text-decoration: none;
}

.box{
  width: 7.5rem;
  height: 13.37rem;
  box-sizing: border-box;
}

header{
  width: 7.5rem;
  font-size: 0.4rem;
  background: -webkit-linear-gradient(top,#1f9496,#35f0be);
   position: fixed;
  left: 0;
   top: 0;
   display: flex;
   justify-content: center;
       
}
header{
  z-index: 2;
  
}
header .dynamic {
 margin-right: 0.3rem;
 text-align: center;
 padding: 0.55rem 0 0.25rem 0rem ;
}
header .dynamic p{
  color: #ffffff;
  font-weight: 100;
     
}
header .dynamic p:nth-child(2){
  font-size: 0.1rem;
}
header .chat{
  text-align: center;
 padding: 0.55rem 0 0.25rem 0rem ;
}
header .chat p{
  color:rgba(0,0,0,0.5);
  font-weight :100;
}
header .chat p:nth-child(2){
  font-size: 0.1rem;
}


.container {
  width: 7.5rem;  
  overflow: auto;
  padding-top: 1.8rem;
  padding-bottom: 1rem;
}
.container .table{

  padding: 0.2rem;
  border: 1px solid #ccc;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  border-radius: 0.2rem;
  position: relative;
  margin-bottom: 0.2rem;
}

.container .table img{
  width: 0.9rem;
  float: left;
  margin-right: 0.26rem;

}
.container .table .wenzi p:first-child{
  font-size: 0.28rem;
  color: #626262;
}
.container .table .wenzi p:last-child{
  font-size: 0.2rem;
  color: #918f8f;
  margin-top: 0.18rem;
}
.container .table span{
  position: absolute;
top: 0.3rem;
right: 0.46rem;
font-size: 0.5rem;
color: #afd8d0;

}







/* 底部 */
.box .bottom{
        width:7.5rem;
        height: 1rem;
        background-color: #fff;
        position: fixed;
        left: 0;
        bottom: 0px;
        border-top: 1px solid #ccc;
        line-height: 1rem;
        z-index: 2;
        
}


.box .bottom .home,
.box .bottom .info,
.box .bottom .add,
.box .bottom .topic,
.box .bottom .my
{
float: left;
}
.box .bottom .home{
  margin-right: 1.13rem;
  margin-left: 0.52rem;
}
.box .bottom .info,
.box .bottom .add{
  margin-right: 0.96rem;
}
.box .bottom .topic{
  margin-right: 1.13rem;
}
.box .bottom .home img,
.box .bottom .info img,
.box .bottom .topic img,
.box .bottom .my img{
 width: 0.38rem;
 height: 0.66rem;
 
}
.box .bottom .add img{
  width: 0.7rem;
  height: 0.7rem;
}

